<!DOCTYPE html>
{% load static %}
<html>
<head>
	<title>Harsh Gaud</title>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-47692315-56"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-47692315-56');
	</script>


	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />

	<link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">

	<link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Russo+One&display=swap" rel="stylesheet">
	<link href="https://mercury-portfolio-app.s3.amazonaws.com/static/css/green.css" rel="stylesheet">
	<link href="https://mercury-portfolio-app.s3.amazonaws.com/static/css/blue.css" rel="stylesheet">
	<link href="https://mercury-portfolio-app.s3.amazonaws.com/static/css/purple.css" rel="stylesheet">
	<link href="https://mercury-portfolio-app.s3.amazonaws.com/static/css/default.css" rel="stylesheet">

	<link rel="stylesheet" type="text/css" href="https://mercury-portfolio-app.s3.amazonaws.com/static/css/green.css">
	<link id="theme-style" rel="stylesheet" type="text/css" href="">
</head>
<body>

	<section class="s1">
		<div class="main-container">
			<div class="greeting-wrapper">
				<h1>Hi, I'm Harsh Gaud</h1>
			</div>


			<div class="intro-wrapper">

				<div class="left-column">
					<img id="profile_pic" src="https://mercury-portfolio-app.s3.amazonaws.com/static/images/mercury.jpg">
					<h5 style="text-align: center;line-height: 0;">Personalize Theme</h5>

					<div id="theme-options-wrapper">
						<div data-mode="light" id="light-mode" class="theme-dot"></div>
						<div data-mode="blue" id="blue-mode" class="theme-dot"></div>
						<div data-mode="green" id="black-mode" class="theme-dot"></div>
						<div data-mode="purple" id="purple-mode" class="theme-dot"></div>
					</div>

					<p id="settings-note">*Theme settings will be saved for<br>your next vist</p>
				</div>

				<div class="right-column">

					<div id="preview-shadow">
						<div id="preview">
							<div id="corner-tl" class="corner"></div>
							<div id="corner-tr" class="corner"></div>
							<h3>What I Do</h3>
							<p>I am a CSE undergrad at IIIT Guwahati.</p>
							<div id="corner-br" class="corner"></div>
							<div id="corner-bl" class="corner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="s2">
		<div class="main-container">

			<div class="about-wrapper">
				<div class="about-me">
					<h4>More about me</h4>

					<p>I love to build new things.</p>

					<p>Really like to solve real world problems.</p>


					<hr>

					<h4>Skills</h4>


					<div id="skills">
						<ul>
							<li>Python</li>
							<li>Django</li>
							<li>Java</li>
							<li>MySQL</li>
							<li>MSSQL</li>
						</ul>

						<ul>
							<li>Data Structure and Algorithms</li>
							<li>C </li>
							<li>REST API</li>
							<li>Git/Github</li>
							<li>AWS</li>

						</ul>

					</div>
					<p><a target="_blank" href="https://drive.google.com/file/d/1trv7WvFMN6wGX-8hCe5_J7mGaClJldPR/view?usp=sharing">Download Resume</a></p>

				</div>
				<div class="social-links">
					
					<h3>Checkout my social media and coding profiles!</h3>
					<a target="_blank" href="https://www.linkedin.com/in/hg-mercury/">LinkedIn: @hg-mercury</a>
					<br>
					<a target="_blank" href="https://github.com/harshgaud2918">Github: @harshgaud2918</a>
					<br>
					<a target="_blank" href="mailto:harsh.gaud@iiitg.ac.in">Gmail: @harsh.gaud@iiitg.ac.in</a>
					<br>
					<a target="_blank" href="https://www.interviewbit.com/profile/harsh-gaud">InterviewBit: @harsh-gaud</a>
					<br>
					<a target="_blank" href="https://www.hackerrank.com/mercury_18">Hackerrank: @mercury_18</a>
					<br>


					
				</div>

				
				

		</div>
	</section>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">My Experiences</h3>

			<div class="post-wrapper">
				{% for experience in experiences %}
				<div>
					<div class="post">
						<img class="thumbnail"  src={{experience.thumbnail}}>
						<div class="post-preview">
							<h6 class="post-title">{{experience.organization}}</h6>
							<p class="post-intro">{{experience.description}}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			
		</div>
	</section>

	<section class="s1">
		<div class="main-container">
			<h3 style="text-align: center;">Some of my past projects</h3>

			<div class="post-wrapper">
				{% for project in projects %}
				<div>
					<div class="post">
						<img class="thumbnail" src={{project.thumbnail}}>
						<div class="post-preview">
							<h6 class="post-title">{{project.name}}</h6>
							<p class="post-intro">{{project.description}}</p>
						</div>
					</div>
				</div>
				{% endfor %}
			</div>

			
		</div>
	</section>

	

	

	<script type="text/javascript" >
	console.log('Its working')

let theme = localStorage.getItem('theme')

if(theme == null){
	setTheme('light')
}else{
	setTheme(theme)
}

let themeDots = document.getElementsByClassName('theme-dot')


for (var i=0; themeDots.length > i; i++){
	themeDots[i].addEventListener('click', function(){
		let mode = this.dataset.mode
		console.log('Option clicked:', mode)
		setTheme(mode)
	})
}

function setTheme(mode){
	if(mode == 'light'){
		document.getElementById('theme-style').href = 'https://mercury-portfolio-app.s3.amazonaws.com/static/css/default.css'
	}

	if(mode == 'blue'){
		document.getElementById('theme-style').href = 'https://mercury-portfolio-app.s3.amazonaws.com/static/css/blue.css'
	}

	if(mode == 'green'){
		document.getElementById('theme-style').href = 'https://mercury-portfolio-app.s3.amazonaws.com/static/css/green.css'
	}

	if(mode == 'purple'){
		document.getElementById('theme-style').href = 'https://mercury-portfolio-app.s3.amazonaws.com/static/css/purple.css'
	}

	localStorage.setItem('theme', mode)
}
</script>
</body>
</html>